<footer class="f">
    <div class="f_upper">
        <div class="container flex spb">
            <a href="index.html" class="logo-link">
                <img src="./img/logo2.svg" alt="">
            </a>
            <div class="soc_row">
                <a href="https://vk.com/uchet_kz" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a> 
                <a href="https://www.facebook.com/Uchet.kz/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/uchet.kz/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                <a href="https://t.me/uchet_kz" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/user/uchetkz/videos" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="f_middle">
        <div class="container flex spb">
            <div class="lcol">
                <div class="f_title">
                    Наши продукты:
                </div>
                <a href="https://edo.uchet.kz/" target="_blank"><img src="./img/q1.svg" alt="" class="serv-i"></a>
                <a href="https://uchet.kz/services/" target="_blank"><img src="./img/q22.svg" alt="" class="serv-i"></a>
                <a href="https://ukassa.kz/" target="_blank"><img src="./img/q3.svg" alt="" class="serv-i"></a>
            </div>
            <div class="rcol">
                <div class="col--phone">
                    <a href="tel:+77273499934">+7 (727) 349 99 34</a>
                    <a href="tel:+77470940203">+7 (747) 094 02 03</a>
                </div>
                <div class="col--email">
                    <a href="mailto:hello@uchet.kz">hello@uchet.kz</a>
                </div>
            </div>
        </div>
    </div>
    <div class="f_bottom">
        <div class="container flex spb">
            <div class="copy">&copy; 2020 Учёт.Бухгалтерия - удобное и безопасное решение для Вашего бизнеса</div>
            <a href="https://uchet.kz/">uchet.kz</a>
        </div>
    </div>
</footer>